{
  "openapi": "3.0.3",
  "info": {
    "title": "DeepL API Documentation",
    "description": "The DeepL API provides programmatic access to DeepL’s language AI technology.\n\nNote: this OpenAPI spec is embedded into our API documentation and has shortened descriptions.",
    "termsOfService": "https://www.deepl.com/pro-license",
    "contact": {
      "name": "DeepL - Contact us",
      "url": "https://www.deepl.com/contact-us"
    },
    "version": "3.10.0"
  },
  "externalDocs": {
    "description": "DeepL Pro - Plans and pricing",
    "url": "https://www.deepl.com/pro#developer"
  },
  "servers": [
    {
      "url": "https://api.deepl.com",
      "description": "DeepL API Pro"
    },
    {
      "url": "https://api-free.deepl.com",
      "description": "DeepL API Free"
    }
  ],
  "tags": [
    {
      "name": "beta",
      "description": "Experimental features that are under testing and not yet intended for production use."
    },
    {
      "name": "TranslateText",
      "description": "The text-translation API currently consists of a single endpoint, `translate`, which is described below."
    },
    {
      "name": "TranslateDocuments",
      "description": "The document translation API allows you to translate whole documents and supports the following file types and extensions:\n  * `docx` - Microsoft Word Document\n  * `pptx` - Microsoft PowerPoint Document\n  * `xlsx` - Microsoft Excel Document\n  * `pdf` - Portable Document Format\n  * `htm / html` - HTML Document\n  * `txt` - Plain Text Document\n  * `xlf / xliff` - XLIFF Document, version 2.1\n  * `srt` - SRT Document\n  * `jpeg` / `jpg` / `png` - Image (currently in beta)"
    },
    {
      "name": "RephraseText",
      "description": "The `rephrase` endpoint  is used to make corrections and adjustments to texts based on style or tone."
    },
    {
      "name": "CorrectText",
      "description": "The `correct` endpoint fixes spelling and grammar errors without broader rephrasing. Use it when you want\na minimal-change correction pass rather than the broader rewriting performed by `rephrase`."
    },
    {
      "name": "ManageMultilingualGlossaries",
      "description": "The *glossary* functions allow you to create, inspect, edit and delete glossaries.\nGlossaries created with the glossary function can be used in translate requests by specifying the\n`glossary_id` parameter. A glossary contains (several) dictionaries.\nA dictionary is a mapping of source phrases to target phrases for a single language pair.\nIf you encounter issues, please let us know at support@DeepL.com.\n\nCurrently you can create glossaries with any of the languages DeepL supports (with the exception of Thai).\n\nThe maximum size limit for a glossary is 10 MiB = 10485760 bytes and each source/target text,\nas well as the name of the glossary, is limited to 1024 UTF-8 bytes.\nA total of 1000 glossaries are allowed per account.\n\nWhen creating a dictionary with target language `EN`, `PT`, or `ZH`, it's not necessary to specify a variant\n(e.g. `EN-US`, `EN-GB`, `PT-PT`, `PT-BR`, or `ZH-HANS`).\nDictionaries with target language `EN` can be used in translations with either English variant.\nSimilarly `PT`, and `ZH` dictionaries can be used in translations with their corresponding variants.\n(When you provide the ID of a glossary to a translation, the appropriate dictionary is automatically applied. Currently glossaries can not yet be used with source language detection.)\n\nGlossaries created via the DeepL API are now unified with glossaries created via the DeepL website and DeepL apps.\nPlease only use the v3 glossary API in conjunction with multilingual or edited glossaries from the website."
    },
    {
      "name": "ManageGlossaries",
      "description": "Please note that this is the spec for the (old) v2 glossary endpoint.\nWe recommend users switch to the newer v3 glossary endpoints, which support editability and multilinguality.\n\nThe *glossary* functions allow you to create, inspect, and delete glossaries.\nGlossaries created with the glossary function can be used in translate requests by specifying the\n`glossary_id` parameter.\nIf you encounter issues, please let us know at support@DeepL.com.\n\nCurrently you can create glossaries with any of the languages DeepL supports (with the exception of Thai)."
    },
    {
      "name": "MetaInformation",
      "description": "Information about API usage and value ranges"
    },
    {
      "name": "TranslationMemories",
      "description": "The translation memory endpoints allow you to interact with your account's translation memories, used to store\nand reuse previously created translations. Translation memories can be used in text translation requests by\nspecifying the `translation_memory_id` parameter to denote a specific translation memory and the\n`translation_memory_threshold` which defines the minimum matching percentage required for a translation memory\nsegment to be applied (recommended to be 75% or higher)."
    },
    {
      "name": "VoiceAPI",
      "description": "The Voice API provides real-time voice transcription and translation services.\nUse a two-step flow: first request a streaming URL via REST, then establish a WebSocket connection for streaming audio and receiving transcriptions."
    },
    {
      "name": "VoiceTranslateJob",
      "description": "**Alpha.** Async voice translation jobs. This API may change without notice."
    },
    {
      "name": "AdminApi",
      "description": "Endpoints for organization administrators to manage API keys and retrieve usage analytics."
    }
  ],
  "x-hideTryItPanel": true,
  "x-codeSamples": false,
  "paths": {
    "/v2/admin/analytics": {
      "get": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Get usage statistics as an admin",
        "operationId": "adminGetAnalytics",
        "description": "Retrieve usage statistics for the organization within a specified date range.\nOptionally group the results by API key or by API key and day.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-09-29"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-01"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "description": "Optional parameter to group usage statistics. Possible values:\n * `key` - Group by API key\n * `key_and_day` - Group by API key and usage date",
            "schema": {
              "type": "string",
              "enum": [
                "key",
                "key_and_day"
              ]
            },
            "example": "key_and_day"
          }
        ],
        "responses": {
          "200": {
            "description": "The usage statistics for the specified date range.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsageReport"
                },
                "examples": {
                  "withGrouping": {
                    "summary": "Usage report grouped by key and day",
                    "value": {
                      "usage_report": {
                        "total_usage": {
                          "total_characters": 9619,
                          "text_translation_characters": 4892,
                          "document_translation_characters": 0,
                          "text_improvement_characters": 4727,
                          "speech_to_text_minutes": 107.46
                        },
                        "group_by": "key_and_day",
                        "start_date": "2025-09-29T00:00:00",
                        "end_date": "2025-10-01T00:00:00",
                        "key_and_day_usages": [
                          {
                            "api_key": "dc88****3a2c",
                            "api_key_label": "Staging API Key",
                            "usage_date": "2025-09-29T00:00:00Z",
                            "usage": {
                              "total_characters": 315,
                              "text_translation_characters": 159,
                              "document_translation_characters": 0,
                              "text_improvement_characters": 156,
                              "speech_to_text_minutes": 11.94
                            }
                          }
                        ]
                      }
                    }
                  },
                  "withoutGrouping": {
                    "summary": "Usage report without grouping",
                    "value": {
                      "usage_report": {
                        "total_usage": {
                          "total_characters": 9619,
                          "text_translation_characters": 4892,
                          "document_translation_characters": 0,
                          "text_improvement_characters": 4727,
                          "speech_to_text_minutes": 107.46
                        },
                        "start_date": "2025-09-29T00:00:00",
                        "end_date": "2025-10-01T00:00:00"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Please check error message and your parameters.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message describing the issue."
                    }
                  }
                },
                "examples": {
                  "dateRangeExceeded": {
                    "summary": "Date range exceeds maximum allowed",
                    "value": {
                      "message": "Bad request. Reason: Date range cannot exceed 366 days"
                    }
                  },
                  "invalidGroupBy": {
                    "summary": "Invalid group_by parameter value",
                    "value": {
                      "message": "Value for 'group_by' not supported. Allowed: '', 'key', 'key_and_day'."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/analytics/custom-tags": {
      "get": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Get custom tag usage statistics as an admin",
        "operationId": "adminGetCustomTagAnalytics",
        "description": "Retrieve usage statistics broken down by custom tags within a specified date range.\nOptionally aggregate results by day or over the entire period.\nResults are paginated; use the `page` parameter with the `next_page` value from\na previous response to retrieve subsequent pages.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-05-17"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-05-18"
          },
          {
            "name": "aggregate_by",
            "in": "query",
            "required": false,
            "description": "Optional parameter to control aggregation of usage statistics. Possible values:\n * `period` - Aggregate usage over the entire date range (default)\n * `day` - Group usage by individual day",
            "schema": {
              "type": "string",
              "enum": [
                "period",
                "day"
              ],
              "default": "period"
            },
            "example": "day"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination. Use the integer value returned in `next_page` from\na previous response to retrieve the next page of results.",
            "schema": {
              "type": "integer"
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The custom tag usage statistics for the specified date range.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTagUsageReport"
                },
                "examples": {
                  "aggregateByPeriod": {
                    "summary": "Usage report aggregated over the full period",
                    "value": {
                      "custom_tag_usage_report": {
                        "aggregate_by": "period",
                        "start_date": "2026-05-03T00:00:00",
                        "end_date": "2026-05-05T00:00:00",
                        "next_page": null,
                        "usage": [
                          {
                            "custom_tag": "example-custom-tag",
                            "breakdown": {
                              "total_characters": 380,
                              "text_translation_characters": 380,
                              "text_improvement_characters": 0
                            }
                          },
                          {
                            "custom_tag": "example-custom-tag-2",
                            "breakdown": {
                              "total_characters": 475,
                              "text_translation_characters": 475,
                              "text_improvement_characters": 0
                            }
                          }
                        ]
                      }
                    }
                  },
                  "aggregateByDay": {
                    "summary": "Usage report aggregated by day",
                    "value": {
                      "custom_tag_usage_report": {
                        "aggregate_by": "day",
                        "start_date": "2026-05-03T00:00:00",
                        "end_date": "2026-05-15T00:00:00",
                        "next_page": null,
                        "usage": [
                          {
                            "custom_tag": "example-custom-tag",
                            "usage_date": "2026-05-04T00:00:00Z",
                            "breakdown": {
                              "total_characters": 380,
                              "text_translation_characters": 380,
                              "text_improvement_characters": 0
                            }
                          },
                          {
                            "custom_tag": "example-custom-tag",
                            "usage_date": "2026-05-11T00:00:00Z",
                            "breakdown": {
                              "total_characters": 595,
                              "text_translation_characters": 595,
                              "text_improvement_characters": 0
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Please check error message and your parameters.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message describing the issue."
                    }
                  }
                },
                "examples": {
                  "dateRangeExceeded": {
                    "summary": "Date range exceeds maximum allowed",
                    "value": {
                      "message": "Bad request. Reason: Date range cannot exceed 366 days"
                    }
                  },
                  "invalidAggregateBy": {
                    "summary": "Invalid aggregate_by parameter value",
                    "value": {
                      "message": "Value for 'aggregate_by' not supported. Allowed: '', 'period', 'day'."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys": {
      "post": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Create a developer key as an admin",
        "operationId": "adminCreateDeveloperKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "$ref": "#/components/schemas/ApiKeyLabel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The create function returns a JSON representation of the created API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "get": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Get all developer keys as an admin",
        "operationId": "adminGetDeveloperKeys",
        "responses": {
          "200": {
            "description": "The get function returns a JSON representation of all developer API keys in the organization.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys/deactivate": {
      "put": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Deactivate a developer key as an admin",
        "operationId": "adminDeactivateDeveloperKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_id"
                ],
                "properties": {
                  "key_id": {
                    "$ref": "#/components/schemas/ApiKeyId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The deactivate function returns a JSON representation of the deactivated API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys/label": {
      "put": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Rename a developer key as an admin",
        "operationId": "adminRenameDeveloperKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_id",
                  "label"
                ],
                "properties": {
                  "key_id": {
                    "$ref": "#/components/schemas/ApiKeyId"
                  },
                  "label": {
                    "type": "string",
                    "description": "API key label.",
                    "example": "developer key prod"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The set label function returns a JSON representation of the renamed API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys/limits": {
      "put": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Set developer key usage limits as an admin",
        "operationId": "adminSetDeveloperKeyUsageLimits",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_id"
                ],
                "properties": {
                  "key_id": {
                    "$ref": "#/components/schemas/ApiKeyId"
                  },
                  "characters": {
                    "$ref": "#/components/schemas/ApiKeyUsageCharacters"
                  },
                  "speech_to_text_milliseconds": {
                    "$ref": "#/components/schemas/ApiKeyUsageSpeechToTextMilliseconds"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The set usage limits function returns a JSON representation of the modified API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/translate": {
      "post": {
        "tags": [
          "TranslateText"
        ],
        "summary": "Request Translation",
        "operationId": "translateText",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text",
                  "target_lang"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be translated. Only UTF-8-encoded plain text is supported. The parameter may be specified\nmany times in a single request, within the request size limit (128KiB). Translations are returned\nin the same order as they are requested. Each text in the array is translated independently — texts\ndo not share context with each other.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Hello, World!"
                    }
                  },
                  "source_lang": {
                    "$ref": "#/components/schemas/SourceLanguage"
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguage"
                  },
                  "context": {
                    "$ref": "#/components/schemas/Context"
                  },
                  "show_billed_characters": {
                    "$ref": "#/components/schemas/ShowBilledCharacters"
                  },
                  "split_sentences": {
                    "$ref": "#/components/schemas/SplitSentencesOption"
                  },
                  "preserve_formatting": {
                    "$ref": "#/components/schemas/PreserveFormattingOption"
                  },
                  "formality": {
                    "$ref": "#/components/schemas/Formality"
                  },
                  "model_type": {
                    "$ref": "#/components/schemas/ModelType"
                  },
                  "glossary_id": {
                    "description": "Specify the glossary to use for the translation. **Important:** This requires the `source_lang`\nparameter to be set. The language pair of the glossary has to match the language pair of the\nrequest.",
                    "type": "string",
                    "example": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7"
                  },
                  "style_id": {
                    "description": "Specify the [style rule list](/api-reference/style-rules) to use for the translation.\n\n**Important:**  The target language has to match the language of the style rule list.\n\n**Note:** Any request with the `style_id` parameter enabled will use `quality_optimized` models. Requests combining `style_id` and `model_type: latency_optimized` will be rejected.",
                    "type": "string",
                    "example": "7ff9bfd6-cd85-4190-8503-d6215a321519"
                  },
                  "translation_memory_id": {
                    "$ref": "#/components/schemas/TranslationMemoryId"
                  },
                  "translation_memory_threshold": {
                    "$ref": "#/components/schemas/TranslationMemoryThreshold"
                  },
                  "custom_instructions": {
                    "description": "Specify a list of instructions to customize the translation behavior. Up to 10 custom instructions can be specified, each with a maximum of 300 characters.\n\n**Important:**  The target language must be `de`, `en`, `es`, `fr`, `it`, `ja`, `ko`, `zh` or any variants of these languages.\n\n**Note:** Any request with the `custom_instructions` parameter enabled will default to use the `quality_optimized` model type. Requests combining `custom_instructions` and `model_type: latency_optimized` will be rejected.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Use a friendly, diplomatic tone"
                    }
                  },
                  "tag_handling": {
                    "$ref": "#/components/schemas/TagHandlingOption"
                  },
                  "tag_handling_version": {
                    "$ref": "#/components/schemas/TagHandlingVersionOption"
                  },
                  "outline_detection": {
                    "$ref": "#/components/schemas/OutlineDetectionOption"
                  },
                  "enable_beta_languages": {
                    "description": "This parameter is maintained for backward compatibility and has no effect.",
                    "type": "boolean",
                    "default": false,
                    "deprecated": true
                  },
                  "non_splitting_tags": {
                    "description": "Comma-separated list of XML tags which never split sentences.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "non_splitting_tag"
                    }
                  },
                  "splitting_tags": {
                    "description": "Comma-separated list of XML tags which always cause splits.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "splitting_tag"
                    }
                  },
                  "ignore_tags": {
                    "description": "Comma-separated list of XML tags that indicate text not to be translated.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "ignore_tag"
                    }
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "text",
                  "target_lang"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be translated. Only UTF-8-encoded plain text is supported. The parameter may be specified many times in a single request, within the request size limit (128KiB). Translations are returned in the same order as they are requested. Each text in the array is translated independently — texts do not share context with each other.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Hello, World!"
                    }
                  },
                  "source_lang": {
                    "$ref": "#/components/schemas/SourceLanguage"
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguage"
                  },
                  "context": {
                    "$ref": "#/components/schemas/Context"
                  },
                  "show_billed_characters": {
                    "$ref": "#/components/schemas/ShowBilledCharacters"
                  },
                  "split_sentences": {
                    "$ref": "#/components/schemas/SplitSentencesOption"
                  },
                  "preserve_formatting": {
                    "$ref": "#/components/schemas/PreserveFormattingOptionStr"
                  },
                  "formality": {
                    "$ref": "#/components/schemas/Formality"
                  },
                  "model_type": {
                    "$ref": "#/components/schemas/ModelType"
                  },
                  "glossary_id": {
                    "description": "Specify the glossary to use for the translation. **Important:** This requires the `source_lang`\nparameter to be set. The language pair of the glossary has to match the language pair of the\nrequest.",
                    "type": "string",
                    "example": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7"
                  },
                  "translation_memory_id": {
                    "$ref": "#/components/schemas/TranslationMemoryId"
                  },
                  "translation_memory_threshold": {
                    "$ref": "#/components/schemas/TranslationMemoryThreshold"
                  },
                  "tag_handling": {
                    "$ref": "#/components/schemas/TagHandlingOption"
                  },
                  "outline_detection": {
                    "$ref": "#/components/schemas/OutlineDetectionOptionStr"
                  },
                  "enable_beta_languages": {
                    "description": "This parameter is maintained for backward compatibility and has no effect.",
                    "type": "boolean",
                    "default": false,
                    "deprecated": true
                  },
                  "non_splitting_tags": {
                    "description": "Comma-separated list of XML tags which never split sentences.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "non_splitting_tag"
                    }
                  },
                  "splitting_tags": {
                    "description": "Comma-separated list of XML tags which always cause splits.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "splitting_tag"
                    }
                  },
                  "ignore_tags": {
                    "description": "Comma-separated list of XML tags that indicate text not to be translated.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "ignore_tag"
                    }
                  }
                }
              },
              "encoding": {
                "text": {
                  "style": "form",
                  "explode": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The translate function returns a JSON representation of the translations in the order the text parameters have been specified.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "translations": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "detected_source_language": {
                            "description": "The language detected in the source text. It reflects the value of the `source_lang` parameter, when specified.",
                            "type": "string",
                            "example": "EN"
                          },
                          "text": {
                            "description": "The translated text.",
                            "type": "string",
                            "example": "Hallo, Welt!"
                          },
                          "billed_characters": {
                            "description": "Number of characters counted by DeepL for billing purposes. Only present if the show_billed_characters parameter is set to true.",
                            "type": "integer",
                            "example": 42
                          },
                          "model_type_used": {
                            "description": "Indicates the translation model used. Only present if model_type parameter is included in the request.",
                            "type": "string",
                            "example": "quality_optimized"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "414": {
            "$ref": "#/components/responses/URITooLong"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/document": {
      "post": {
        "tags": [
          "TranslateDocuments"
        ],
        "summary": "Upload and Translate a Document",
        "operationId": "translateDocument",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "examples": {
                "Basic": {
                  "summary": "Basic Document Translation",
                  "value": {
                    "target_lang": "DE",
                    "file": "@document.docx"
                  }
                },
                "Glossary": {
                  "summary": "Using a Glossary",
                  "value": {
                    "source_lang": "EN",
                    "target_lang": "DE",
                    "file": "@document.docx",
                    "glossary_id": "[yourGlossaryId]"
                  }
                },
                "StyleRule": {
                  "summary": "Using a Style Rule List",
                  "value": {
                    "source_lang": "EN",
                    "target_lang": "DE",
                    "file": "@document.docx",
                    "style_id": "[yourStyleId]"
                  }
                },
                "TranslationMemory": {
                  "summary": "Using a Translation Memory",
                  "value": {
                    "source_lang": "EN",
                    "target_lang": "DE",
                    "file": "@document.docx",
                    "translation_memory_id": "[yourTranslationMemoryId]",
                    "translation_memory_threshold": 75
                  }
                }
              },
              "schema": {
                "type": "object",
                "required": [
                  "target_lang",
                  "file"
                ],
                "properties": {
                  "source_lang": {
                    "$ref": "#/components/schemas/SourceLanguage"
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguage"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file to be translated. The file name should be included in this part's content disposition. As an alternative, the filename parameter can be used. The following file types and extensions are supported:\n  * `docx` - Microsoft Word Document\n  * `pptx` - Microsoft PowerPoint Document\n  * `xlsx` - Microsoft Excel Document\n  * `pdf` - Portable Document Format\n  * `htm / html` - HTML Document\n  * `txt` - Plain Text Document\n  * `xlf / xliff` - XLIFF Document, version 2.1\n  * `srt` - SRT Document\n  * `jpeg` / `jpg` / `png` - Image (currently in beta)"
                  },
                  "filename": {
                    "type": "string",
                    "description": "The name of the uploaded file. Can be used as an alternative to including the file name in the file part's content disposition."
                  },
                  "output_format": {
                    "type": "string",
                    "description": "File extension of desired format of translated file, for example: `docx`. If unspecified, by default the translated file will be in the same format as the input file.\n"
                  },
                  "formality": {
                    "$ref": "#/components/schemas/Formality"
                  },
                  "glossary_id": {
                    "$ref": "#/components/schemas/GlossaryId"
                  },
                  "style_id": {
                    "description": "Specify the [style rule list](/api-reference/style-rules) to use for the translation.\n\n**Important:** The target language has to match the language of the style rule list.",
                    "type": "string",
                    "example": "7ff9bfd6-cd85-4190-8503-d6215a321519"
                  },
                  "translation_memory_id": {
                    "$ref": "#/components/schemas/TranslationMemoryId"
                  },
                  "translation_memory_threshold": {
                    "$ref": "#/components/schemas/TranslationMemoryThreshold"
                  },
                  "enable_beta_languages": {
                    "description": "This parameter is maintained for backward compatibility and has no effect.",
                    "type": "boolean",
                    "default": false,
                    "deprecated": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document function returns a JSON object containing the ID and encryption key assigned to the uploaded document. Once received by the server, uploaded documents are immediately encrypted using a uniquely generated encryption key. This key is not persistently stored on the server. Therefore, it must be stored by the client and sent back to the server with every subsequent request that refers to this particular document.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "document_id": {
                      "description": "A unique ID assigned to the uploaded document and the translation process. Must be used when referring to this particular document in subsequent API requests.",
                      "type": "string",
                      "example": "04DE5AD98A02647D83285A36021911C6"
                    },
                    "document_key": {
                      "description": "A unique key that is used to encrypt the uploaded document as well as the resulting translation on the server side. Must be provided with every subsequent API request regarding this particular document.",
                      "type": "string",
                      "example": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                    }
                  }
                },
                "example": {
                  "document_id": "04DE5AD98A02647D83285A36021911C6",
                  "document_key": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/document/{document_id}": {
      "post": {
        "tags": [
          "TranslateDocuments"
        ],
        "summary": "Check Document Status",
        "operationId": "getDocumentStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocumentID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              },
              "examples": {
                "basic": {
                  "summary": "Basic",
                  "value": {
                    "document_key": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document status request returns a JSON object containing the document ID that was used in the request as well as string indicating the current status of the translation process. While the translation is running, the estimated number of seconds remaining until the process is done is also included in the response.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "document_id",
                    "status"
                  ],
                  "properties": {
                    "document_id": {
                      "description": "A unique ID assigned to the uploaded document and the requested translation process. The same ID that was used when requesting the translation status.",
                      "type": "string",
                      "example": "04DE5AD98A02647D83285A36021911C6"
                    },
                    "status": {
                      "description": "A short description of the state the document translation process is currently in. Possible values are:\n * `queued` - the translation job is waiting in line to be processed\n * `translating` - the translation is currently ongoing\n * `done` - the translation is done and the translated document is ready for download\n * `error` - an irrecoverable error occurred while translating the document",
                      "type": "string",
                      "example": "done",
                      "enum": [
                        "queued",
                        "translating",
                        "done",
                        "error"
                      ]
                    },
                    "seconds_remaining": {
                      "description": "Estimated number of seconds until the translation is done.\nThis parameter is only included while `status` is `\"translating\"`.",
                      "type": "integer"
                    },
                    "billed_characters": {
                      "description": "The number of characters billed to your account. The characters will only be billed after a successful download request.",
                      "type": "integer",
                      "example": 1337
                    },
                    "error_message": {
                      "description": "A short description of the error, if available.\nNote that the content is subject to change.\nThis parameter may be included if an error occurred during translation.",
                      "type": "string",
                      "example": "Only available if document status is error"
                    }
                  }
                },
                "examples": {
                  "translating": {
                    "summary": "Translating",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "translating",
                      "seconds_remaining": 20
                    }
                  },
                  "done": {
                    "summary": "Done",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "done",
                      "billed_characters": 1337
                    }
                  },
                  "queued": {
                    "summary": "Queued",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "queued"
                    }
                  },
                  "error": {
                    "summary": "Error",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "error",
                      "message": "Source and target language are equal."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/document/{document_id}/result": {
      "post": {
        "tags": [
          "TranslateDocuments"
        ],
        "summary": "Download Translated Document",
        "operationId": "downloadDocument",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocumentID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              },
              "examples": {
                "basic": {
                  "summary": "Basic",
                  "value": {
                    "document_key": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document is provided as a download. There is no other data included in the response besides the document data. The content type used in the response corresponds to the document type.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "description": "binary document data"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404DocTransDownload"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503DocTransDownload"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossary-language-pairs": {
      "get": {
        "deprecated": true,
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "List Language Pairs Supported by Glossaries",
        "description": "**Deprecated.** Use `GET /v3/languages?resource=glossary` instead, which returns per-language\navailability including source and target roles.\n\nRetrieve the list of language pairs supported by the glossary feature.",
        "operationId": "listGlossaryLanguages",
        "responses": {
          "200": {
            "description": "A JSON object containing the language pairs in its `supported_languages` property.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "supported_languages": {
                      "type": "array",
                      "description": "The list of supported languages",
                      "items": {
                        "type": "object",
                        "required": [
                          "source_lang",
                          "target_lang"
                        ],
                        "properties": {
                          "source_lang": {
                            "description": "The language in which the source texts in the glossary are specified.",
                            "type": "string",
                            "example": "en"
                          },
                          "target_lang": {
                            "description": "The language in which the target texts in the glossary are specified.",
                            "type": "string",
                            "example": "de"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "supported_languages": [
                    {
                      "source_lang": "de",
                      "target_lang": "en"
                    },
                    {
                      "source_lang": "en",
                      "target_lang": "de"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries": {
      "post": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Create a Glossary",
        "operationId": "createMultilingualGlossary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMultilingualGlossaryParameters"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "name": "My Glossary",
                    "dictionaries": [
                      {
                        "source_lang": "en",
                        "target_lang": "de",
                        "entries": "Hello\tGuten Tag",
                        "entries_format": "tsv"
                      },
                      {
                        "source_lang": "de",
                        "target_lang": "en",
                        "entries": "Guten Tag\tHello",
                        "entries_format": "tsv"
                      }
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateMultilingualGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The function for creating a glossary returns a JSON object containing the ID of the newly created glossary and a boolean flag that indicates if the created glossary can already be used in translate requests.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "get": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "List all Glossaries",
        "operationId": "listMultilingualGlossaries",
        "description": "List all glossaries and their meta-information, but not the glossary entries.",
        "responses": {
          "200": {
            "description": "JSON object containing a the glossaries.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "glossaries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MultilingualGlossary"
                      }
                    }
                  }
                },
                "example": {
                  "glossaries": [
                    {
                      "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                      "name": "My Glossary",
                      "dictionaries": [
                        {
                          "source_lang": "EN",
                          "target_lang": "DE",
                          "entry_count": 1
                        },
                        {
                          "source_lang": "DE",
                          "target_lang": "EN",
                          "entry_count": 2
                        }
                      ],
                      "creation_time": "2021-08-03T14:16:18.329Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries/{glossary_id}": {
      "get": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Retrieve Glossary Details",
        "description": "Retrieve meta information for a single glossary, omitting the glossary entries.",
        "operationId": "getMultilingualGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing the glossary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossary"
                },
                "example": {
                  "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                  "name": "My Glossary",
                  "dictionaries": [
                    {
                      "source_lang": "EN",
                      "target_lang": "DE",
                      "entry_count": 1
                    },
                    {
                      "source_lang": "DE",
                      "target_lang": "EN",
                      "entry_count": 2
                    }
                  ],
                  "creation_time": "2021-08-03T14:16:18.429Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "patch": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Edit glossary details",
        "description": "Edit glossary details, such as name or a dictionary for a source and target language.",
        "operationId": "patchMultilingualGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMultilingualGlossaryParameters"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "name": "My Glossary",
                    "dictionaries": [
                      {
                        "source_lang": "en",
                        "target_lang": "de",
                        "entries": "Hello\tGuten Tag",
                        "entries_format": "tsv"
                      }
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchMultilingualGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON object containing the glossary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossary"
                },
                "example": {
                  "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                  "name": "My Glossary",
                  "dictionaries": [
                    {
                      "source_lang": "EN",
                      "target_lang": "DE",
                      "creation_time": "2021-08-03T14:16:18.329Z",
                      "entry_count": 1
                    },
                    {
                      "source_lang": "DE",
                      "target_lang": "EN",
                      "creation_time": "2021-08-03T14:16:18.429Z",
                      "entry_count": 2
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Delete a Glossary",
        "description": "Deletes the specified glossary.",
        "operationId": "deleteMultilingualGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns no content upon success."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries/{glossary_id}/entries": {
      "get": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Retrieve Glossary Entries",
        "operationId": "getMultilingualGlossaryEntries",
        "description": "List the entries of a single glossary in tsv format.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          },
          {
            "name": "source_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossarySourceLanguage"
            }
          },
          {
            "name": "target_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossaryTargetLanguage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The entries in tsv, wrapped in a JSON object.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlossaryDictionary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries/{glossary_id}/dictionaries": {
      "delete": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Deletes the dictionary associated with the given language pair with the given glossary ID.",
        "operationId": "deleteDictionary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          },
          {
            "name": "source_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossarySourceLanguage"
            }
          },
          {
            "name": "target_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossaryTargetLanguage"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns no content upon success."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "put": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Replaces or creates a dictionary in the glossary with the specified entries.",
        "operationId": "replaceDictionary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "requestBody": {
          "description": "The dictionary to insert into (or overwrite in) the multilingual glossary.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultilingualGlossaryEntries"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON object containing the dictionary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossaryEntriesInformation"
                },
                "example": {
                  "source_lang": "EN",
                  "target_lang": "DE",
                  "entry_count": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossaries": {
      "post": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "Create a Glossary",
        "operationId": "createGlossary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGlossaryParameters"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "name": "My Glossary",
                    "source_lang": "en",
                    "target_lang": "de",
                    "entries": "Hello\tGuten Tag",
                    "entries_format": "tsv"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The function for creating a glossary returns a JSON object containing the ID of the newly created glossary and a boolean flag that indicates if the created glossary can already be used in translate requests.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonolingualGlossary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "get": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "List all Glossaries",
        "operationId": "listGlossaries",
        "description": "List all glossaries and their meta-information, but not the glossary entries.",
        "responses": {
          "200": {
            "description": "JSON object containing a the glossaries.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "glossaries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MonolingualGlossary"
                      }
                    }
                  }
                },
                "example": {
                  "glossaries": [
                    {
                      "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                      "name": "My Glossary",
                      "ready": true,
                      "source_lang": "EN",
                      "target_lang": "DE",
                      "creation_time": "2021-08-03T14:16:18.329Z",
                      "entry_count": 1
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossaries/{glossary_id}": {
      "get": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "Retrieve Glossary Details",
        "description": "Retrieve meta information for a single glossary, omitting the glossary entries.",
        "operationId": "getGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing the glossary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonolingualGlossary"
                },
                "example": {
                  "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                  "name": "My Glossary",
                  "ready": true,
                  "source_lang": "EN",
                  "target_lang": "DE",
                  "creation_time": "2021-08-03T14:16:18.329Z",
                  "entry_count": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "Delete a Glossary",
        "description": "Deletes the specified glossary.",
        "operationId": "deleteGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns no content upon success."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossaries/{glossary_id}/entries": {
      "get": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "Retrieve Glossary Entries",
        "operationId": "getGlossaryEntries",
        "description": "List the entries of a single glossary in the format specified by the `Accept` header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "text/tab-separated-values"
              ],
              "default": "text/tab-separated-values"
            },
            "description": "The requested format of the returned glossary entries. Currently, supports only `text/tab-separated-values`.",
            "examples": {
              "tsv": {
                "summary": "Tab-separated Values",
                "value": {
                  "in": "header",
                  "Accept": "text/tab-separated-values"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The entries in the requested format.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "text/tab-separated-values": {
                "example": "Hello!\tGuten Tag!"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/write/rephrase": {
      "post": {
        "tags": [
          "RephraseText"
        ],
        "summary": "Improve text",
        "operationId": "rephraseText",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be improved. Only UTF-8-encoded plain text is supported. Improvements are returned in the same order as they are requested.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "this is a example sentence to imprve"
                    }
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguageWrite"
                  },
                  "writing_style": {
                    "$ref": "#/components/schemas/WritingStyle"
                  },
                  "tone": {
                    "$ref": "#/components/schemas/WritingTone"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be improved. Only UTF-8-encoded plain text is supported. Improvements are returned in the same order as they are requested.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "this is a example sentence to imprve"
                    }
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguageWrite"
                  },
                  "writing_style": {
                    "$ref": "#/components/schemas/WritingStyle"
                  },
                  "tone": {
                    "$ref": "#/components/schemas/WritingTone"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful text improvement.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "improvements": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "detected_source_language": {
                            "description": "The language detected in the source text.",
                            "type": "string",
                            "example": "en"
                          },
                          "target_language": {
                            "description": "The target language specified by the request.",
                            "type": "string",
                            "example": "en-US"
                          },
                          "text": {
                            "description": "The improved text.",
                            "type": "string",
                            "example": "This is a sample sentence to improve."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/write/correct": {
      "post": {
        "tags": [
          "CorrectText"
        ],
        "summary": "Correct text",
        "description": "Fix spelling and grammar errors in one or more texts. Unlike `/v2/write/rephrase`, this endpoint applies\na minimal-change correction pass and does not rewrite the text for style or tone.",
        "operationId": "correctText",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be corrected. Only UTF-8-encoded plain text is supported. Corrections are returned in the same order as they are requested.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "this is a example sentence to imprve"
                    }
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguageWrite"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be corrected. Only UTF-8-encoded plain text is supported. Corrections are returned in the same order as they are requested.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "this is a example sentence to imprve"
                    }
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguageWrite"
                  }
                }
[...]
