{
  "openapi": "3.0.3",
  "info": {
    "title": "DeepL API Documentation",
    "description": "The DeepL API provides programmatic access to DeepL\u2019s language AI technology.",
    "termsOfService": "https://www.deepl.com/pro-license",
    "contact": {
      "name": "DeepL - Contact us",
      "url": "https://www.deepl.com/contact-us"
    },
    "version": "3.9.0"
  },
  "externalDocs": {
    "description": "DeepL Pro - Plans and pricing",
    "url": "https://www.deepl.com/pro#developer"
  },
  "servers": [
    {
      "url": "https://api.deepl.com",
      "description": "DeepL API Pro"
    },
    {
      "url": "https://api-free.deepl.com",
      "description": "DeepL API Free"
    }
  ],
  "tags": [
    {
      "name": "TranslateText",
      "description": "The text-translation API currently consists of a single endpoint, `translate`, which is described below.\n\nTo learn more about context in DeepL API translations, we recommend [this article](https://www.deepl.com/docs-api/general/working-with-context)."
    },
    {
      "name": "TranslateDocuments",
      "description": "The document translation API allows you to translate whole documents and supports the following file types and extensions:\n  * `docx` - Microsoft Word Document\n  * `pptx` - Microsoft PowerPoint Document\n  * `xlsx` - Microsoft Excel Document\n  * `pdf` - Portable Document Format\n  * `htm / html` - HTML Document\n  * `txt` - Plain Text Document\n  * `xlf / xliff` - XLIFF Document, version 2.1\n  * `srt` - SRT Document\n  * `jpeg / jpg / png` - Image\n\nPlease note that with every submitted document of type .pptx, .docx, .xlsx, or .pdf,\nyou are billed a minimum of 50,000 characters with the DeepL API plan,\nno matter how many characters are included in the document.\n\n\nTranslating a document usually involves three types of HTTP requests:\n  - [upload](https://www.deepl.com/docs-api/documents/translate-document) the document to be translated,\n  - periodically [check the status](https://www.deepl.com/docs-api/documents/get-document-status) of the document translation,\n  - once the status call reports `done`, [download](https://www.deepl.com/docs-api/documents/download-document) the translated document.\n\n\nTo learn more about context in DeepL API translations, we recommend [this article](https://www.deepl.com/docs-api/general/working-with-context)."
    },
    {
      "name": "RephraseText",
      "description": "The `rephrase` endpoint  is used to make corrections and adjustments to texts based on style or tone.\n\nFor more details, visit [this documentation page](https://developers.deepl.com/docs/api-reference/improve-text)"
    },
    {
      "name": "ManageMultilingualGlossaries",
      "description": "The *glossary* functions allow you to create, inspect, edit and delete glossaries.\nGlossaries created with the glossary function can be used in translate requests by specifying the\n`glossary_id` parameter. A glossary contains (several) dictionaries.\nA dictionary is a mapping of source phrases to target phrases for a single language pair.\nIf you encounter issues, please let us know at support@DeepL.com.\n\nCurrently you can create glossaries with any of the languages DeepL supports.\n\nThe maximum size limit for a glossary is 10 MiB = 10485760 bytes and each source/target text,\nas well as the name of the glossary, is limited to 1024 UTF-8 bytes.\nA total of 1000 glossaries are allowed per account.\n\nWhen creating a dictionary with target language `EN`, `PT`, or `ZH`, it's not necessary to specify a variant\n(e.g. `EN-US`, `EN-GB`, `PT-PT`, `PT-BR`, or `ZH-HANS`).\nDictionaries with target language `EN` can be used in translations with either English variant.\nSimilarly `PT`, and `ZH` dictionaries can be used in translations with their corresponding variants.\n(When you provide the ID of a glossary to a translation, the appropriate dictionary is automatically applied. Currently glossaries can not yet be used with source language detection.)\n\nGlossaries created via the DeepL API are now unified with glossaries created via the DeepL website and DeepL apps.\nPlease only use the v3 glossary API in conjunction with multilingual or edited glossaries from the website."
    },
    {
      "name": "ManageGlossaries",
      "description": "Please note that this is the spec for the (old) v2 glossary endpoint.\nWe recommend users switch to the newer v3 glossary endpoints, which support editability and multilinguality.\n\nThe *glossary* functions allow you to create, inspect, and delete glossaries.\nGlossaries created with the glossary function can be used in translate requests by specifying the\n`glossary_id` parameter.\nIf you encounter issues, please let us know at support@DeepL.com.\n\nCurrently you can create glossaries with any of the languages DeepL supports.\n\nThe maximum size limit for a glossary is 10 MiB = 10485760 bytes and each source/target text,\nas well as the name of the glossary, is limited to 1024 UTF-8 bytes.\nA total of 1000 glossaries are allowed per account.\n\nWhen creating a glossary with target language `EN`, `PT`, or `ZH`, it's not necessary to specify a variant\n(e.g. `EN-US`, `EN-GB`, `PT-PT`, `PT-BR`, or `ZH-HANS`).\nGlossaries with target language `EN` can be used in translations with either English variant.\nSimilarly `PT`, and `ZH` glossaries can be used in translations with their corresponding variants.\n\nNote that on the v2 API, glossaries are immutable: once created, the glossary entries for a given glossary ID cannot be modified.\n\nAs a workaround for effectively editable glossaries, we suggest to identify glossaries by name instead of ID in your application\nand then use the following procedure for modifications:\n- [download](https://www.deepl.com/docs-api/glossaries/get-glossary-entries) and store the current glossary's entries,\n- locally modify the glossary entries,\n- [delete](https://www.deepl.com/docs-api/glossaries/delete-glossary) the existing glossary,\n- [create a new glossary](https://www.deepl.com/docs-api/glossaries/create-glossary) with the same name."
    },
    {
      "name": "MetaInformation",
      "description": "Information about API usage and value ranges"
    },
    {
      "name": "VoiceAPI",
      "description": "The Voice API provides real-time voice transcription and translation services.\nUse a two-step flow: first request a streaming URL via REST, then establish a WebSocket connection for streaming audio and receiving transcriptions."
    }
  ],
  "paths": {
    "/v2/translate": {
      "post": {
        "tags": [
          "TranslateText"
        ],
        "summary": "Request Translation",
        "operationId": "translateText",
        "description": "The translate function.\n\n\nThe total request body size must not exceed 128 KiB (128 \u00b7 1024 bytes). Please split up your text into multiple\ncalls if it exceeds this limit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text",
                  "target_lang"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be translated. Only UTF-8-encoded plain text is supported. The parameter may be specified\nmultiple times and translations are returned in the same order as they are requested. Each of the\nparameter values may contain multiple sentences.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Hello, World!"
                    }
                  },
                  "source_lang": {
                    "$ref": "#/components/schemas/SourceLanguageText"
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguageText"
                  },
                  "context": {
                    "$ref": "#/components/schemas/Context"
                  },
                  "show_billed_characters": {
                    "$ref": "#/components/schemas/ShowBilledCharacters"
                  },
                  "split_sentences": {
                    "$ref": "#/components/schemas/SplitSentencesOption"
                  },
                  "preserve_formatting": {
                    "$ref": "#/components/schemas/PreserveFormattingOption"
                  },
                  "formality": {
                    "$ref": "#/components/schemas/Formality"
                  },
                  "model_type": {
                    "$ref": "#/components/schemas/ModelType"
                  },
                  "glossary_id": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/GlossaryId"
                      },
                      {
                        "description": "Specify the glossary to use for the translation. **Important:** This requires the `source_lang`\nparameter to be set and the language pair of the glossary has to match the language pair of the\nrequest.",
                        "type": "string"
                      }
                    ]
                  },
                  "custom_instructions": {
                    "description": "Specify a list of instructions to customize the translation behavior. Up to 10 custom instructions can be specified, each with a maximum of 300 characters.\n\n**Important:**  The target language must be `de`, `en`, `es`, `fr`, `it`, `ja`, `ko`, `zh` or any variants of these languages.\n\n**Note:** Any request with the `custom_instructions` parameter enabled will default to use the `quality_optimized` model type. Requests combining `custom_instructions` and `model_type: latency_optimized` will be rejected.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Use a friendly, diplomatic tone"
                    }
                  },
                  "enable_beta_languages": {
                    "description": "Enables 81 additional beta languages. See the full list at https://developers.deepl.com/docs/getting-started/supported-languages#beta-languages. **Note:** Any request with the `enable_beta_languages` parameter enabled will use `quality_optimized` models. Requests combining `enable_beta_languages: true` and `model_type: latency_optimized` will be rejected. Beta languages do not support formality or glossaries.",
                    "type": "boolean",
                    "default": false
                  },
                  "tag_handling": {
                    "$ref": "#/components/schemas/TagHandlingOption"
                  },
                  "outline_detection": {
                    "$ref": "#/components/schemas/OutlineDetectionOption"
                  },
                  "non_splitting_tags": {
                    "$ref": "#/components/schemas/NonSplittingTagList"
                  },
                  "splitting_tags": {
                    "$ref": "#/components/schemas/SplittingTagList"
                  },
                  "ignore_tags": {
                    "$ref": "#/components/schemas/IgnoreTagList"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "examples": {
                "Basic": {
                  "summary": "Basic Example",
                  "value": {
                    "text": [
                      "Hello, world!"
                    ],
                    "target_lang": "DE"
                  }
                },
                "Glossary": {
                  "summary": "Using a Glossary",
                  "value": {
                    "text": [
                      "Hello, world!"
                    ],
                    "target_lang": "DE",
                    "source_lang": "EN",
                    "glossary_id": "[yourGlossaryId]"
                  }
                },
                "MultipleSentences": {
                  "summary": "Multiple Sentences",
                  "value": {
                    "text": [
                      "The table is green. The chair is black."
                    ],
                    "target_lang": "DE"
                  }
                },
                "LargeVolumes": {
                  "summary": "Large Volumes of Text",
                  "value": {
                    "text": [
                      "This is the first sentence.",
                      "This is the second sentence.",
                      "This is the third sentence."
                    ],
                    "target_lang": "DE"
                  }
                }
              },
              "schema": {
                "type": "object",
                "required": [
                  "text",
                  "target_lang"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be translated. Only UTF-8-encoded plain text is supported. The parameter may be specified multiple times and translations are returned in the same order as they are requested. Each of the parameter values may contain multiple sentences.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "source_lang": {
                    "$ref": "#/components/schemas/SourceLanguageText"
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguageText"
                  },
                  "context": {
                    "$ref": "#/components/schemas/Context"
                  },
                  "show_billed_characters": {
                    "$ref": "#/components/schemas/ShowBilledCharacters"
                  },
                  "split_sentences": {
                    "$ref": "#/components/schemas/SplitSentencesOption"
                  },
                  "preserve_formatting": {
                    "$ref": "#/components/schemas/PreserveFormattingOptionStr"
                  },
                  "formality": {
                    "$ref": "#/components/schemas/Formality"
                  },
                  "model_type": {
                    "$ref": "#/components/schemas/ModelType"
                  },
                  "glossary_id": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/GlossaryId"
                      }
                    ],
                    "description": "Specify the glossary to use for the translation. **Important:** This requires the `source_lang` parameter to be set and the language pair of the glossary has to match the language pair of the request."
                  },
                  "tag_handling": {
                    "$ref": "#/components/schemas/TagHandlingOption"
                  },
                  "tag_handling_version": {
                    "$ref": "#/components/schemas/TagHandlingVersionOption"
                  },
                  "outline_detection": {
                    "$ref": "#/components/schemas/OutlineDetectionOptionStr"
                  },
                  "non_splitting_tags": {
                    "$ref": "#/components/schemas/NonSplittingTagCommaSeparatedList"
                  },
                  "splitting_tags": {
                    "$ref": "#/components/schemas/SplittingTagCommaSeparatedList"
                  },
                  "ignore_tags": {
                    "$ref": "#/components/schemas/IgnoreTagCommaSeparatedList"
                  }
                }
              },
              "encoding": {
                "text": {
                  "style": "form",
                  "explode": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The translate function returns a JSON representation of the translations in the order the text parameters have been specified.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "translations": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "detected_source_language": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/SourceLanguage"
                              }
                            ],
                            "description": "The language detected in the source text. It reflects the value of the `source_lang` parameter, when specified."
                          },
                          "text": {
                            "description": "The translated text.",
                            "type": "string"
                          },
                          "billed_characters": {
                            "description": "Number of characters counted by DeepL for billing purposes. Only present if the show_billed_characters parameter is set to true.",
                            "type": "integer"
                          },
                          "model_type_used": {
                            "description": "Indicates the translation model used. Only present if model_type parameter is included in the request.",
                            "type": "string",
                            "example": "quality_optimized"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Basic": {
                    "value": {
                      "translations": [
                        {
                          "detected_source_language": "EN",
                          "text": "Hallo, Welt!",
                          "billed_characters": 42
                        }
                      ]
                    }
                  },
                  "Glossary": {
                    "value": {
                      "translations": [
                        {
                          "text": "Hallo, Welt!"
                        }
                      ]
                    }
                  },
                  "MultipleSentences": {
                    "value": {
                      "translations": [
                        {
                          "detected_source_language": "EN",
                          "text": "Der Tisch ist gr\u00fcn. Der Stuhl ist schwarz."
                        }
                      ]
                    }
                  },
                  "LargeVolumes": {
                    "value": {
                      "translations": [
                        {
                          "detected_source_language": "EN",
                          "text": "Das ist der erste Satz."
                        },
                        {
                          "detected_source_language": "EN",
                          "text": "Das ist der zweite Satz."
                        },
                        {
                          "detected_source_language": "EN",
                          "text": "Dies ist der dritte Satz."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "414": {
            "$ref": "#/components/responses/URITooLong"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/document": {
      "post": {
        "tags": [
          "TranslateDocuments"
        ],
        "summary": "Upload and Translate a Document",
        "operationId": "translateDocument",
        "description": "This call uploads a document and queues it for translation.\nThe call returns once the upload is complete, returning a document ID and key which can be used to\n[query the translation status](https://www.deepl.com/docs-api/documents/get-document-status)\nand to [download the translated document](https://www.deepl.com/docs-api/documents/download-document) once translation is complete.\n\n\n\nBecause the request includes a file upload, it must be an HTTP POST request with content type `multipart/form-data`.\n\n\nPlease be aware that the uploaded document is automatically removed from the server once the translated document has been downloaded.\nYou have to upload the document again in order to restart the translation.\n\n\nThe maximum upload limit for documents is [available here](https://support.deepl.com/hc/articles/360020582359-Document-formats)\nand may vary based on API plan and document type.\n\n\nYou may specify the glossary to use for the document translation using the `glossary_id` parameter.\n**Important:** This requires the `source_lang` parameter to be set and the language pair of the glossary has to match the language pair of the request.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "examples": {
                "Basic": {
                  "summary": "Basic Document Translation",
                  "value": {
                    "target_lang": "DE",
                    "file": "@document.docx"
                  }
                },
                "Glossary": {
                  "summary": "Using a Glossary",
                  "value": {
                    "source_lang": "EN",
                    "target_lang": "DE",
                    "file": "@document.docx",
                    "glossary_id": "[yourGlossaryId]"
                  }
                }
              },
              "schema": {
                "type": "object",
                "required": [
                  "target_lang",
                  "file"
                ],
                "properties": {
                  "source_lang": {
                    "$ref": "#/components/schemas/SourceLanguage"
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguage"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file to be translated. The file name should be included in this part's content disposition. As an alternative, the filename parameter can be used. The following file types and extensions are supported:\n  * `docx` - Microsoft Word Document\n  * `pptx` - Microsoft PowerPoint Document\n  * `xlsx` - Microsoft Excel Document\n  * `pdf` - Portable Document Format\n  * `htm / html` - HTML Document\n  * `txt` - Plain Text Document\n  * `xlf / xliff` - XLIFF Document, version 2.1\n  * `srt` - SRT Document\n  * `jpeg / jpg / png` - Image"
                  },
                  "filename": {
                    "type": "string",
                    "description": "The name of the uploaded file. Can be used as an alternative to including the file name in the file part's content disposition."
                  },
                  "output_format": {
                    "type": "string",
                    "description": "File extension of desired format of translated file, for example: `docx`. If unspecified, by default the translated file will be in the same format as the input file.\n\nNote: Not all combinations of input file and translation file extensions are permitted. See [Document Format Conversions](https://www.deepl.com/docs-api/documents/format-conversions) for the permitted combinations."
                  },
                  "formality": {
                    "$ref": "#/components/schemas/Formality"
                  },
                  "glossary_id": {
                    "$ref": "#/components/schemas/GlossaryId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document function returns a JSON object containing the ID and encryption key assigned to the uploaded document. Once received by the server, uploaded documents are immediately encrypted using a uniquely generated encryption key. This key is not persistently stored on the server. Therefore, it must be stored by the client and sent back to the server with every subsequent request that refers to this particular document.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "document_id": {
                      "description": "A unique ID assigned to the uploaded document and the translation process. Must be used when referring to this particular document in subsequent API requests.",
                      "type": "string"
                    },
                    "document_key": {
                      "description": "A unique key that is used to encrypt the uploaded document as well as the resulting translation on the server side. Must be provided with every subsequent API request regarding this particular document.",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "document_id": "04DE5AD98A02647D83285A36021911C6",
                  "document_key": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/document/{document_id}": {
      "post": {
        "tags": [
          "TranslateDocuments"
        ],
        "summary": "Check Document Status",
        "description": "Retrieve the current status of a document translation process.\nIf the translation is still in progress, the estimated time remaining is also included in the response.",
        "operationId": "getDocumentStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocumentID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              },
              "examples": {
                "basic": {
                  "summary": "Basic",
                  "value": {
                    "document_key": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document status request returns a JSON object containing the document ID that was used in the request as well as string indicating the current status of the translation process. While the translation is running, the estimated number of seconds remaining until the process is done is also included in the response.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "document_id",
                    "status"
                  ],
                  "properties": {
                    "document_id": {
                      "description": "A unique ID assigned to the uploaded document and the requested translation process. The same ID that was used when requesting the translation status.",
                      "type": "string"
                    },
                    "status": {
                      "description": "A short description of the state the document translation process is currently in. Possible values are:\n * `queued` - the translation job is waiting in line to be processed\n * `translating` - the translation is currently ongoing\n * `done` - the translation is done and the translated document is ready for download\n * `error` - an irrecoverable error occurred while translating the document",
                      "type": "string",
                      "enum": [
                        "queued",
                        "translating",
                        "done",
                        "error"
                      ]
                    },
                    "seconds_remaining": {
                      "description": "Estimated number of seconds until the translation is done.\nThis parameter is only included while `status` is `\"translating\"`.",
                      "type": "integer"
                    },
                    "billed_characters": {
                      "description": "The number of characters billed to your account. The characters will only be billed after a successful download request.",
                      "type": "integer"
                    },
                    "error_message": {
                      "description": "A short description of the error, if available.\nNote that the content is subject to change.\nThis parameter may be included if an error occurred during translation.",
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "translating": {
                    "summary": "Translating",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "translating",
                      "seconds_remaining": 20
                    }
                  },
                  "done": {
                    "summary": "Done",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "done",
                      "billed_characters": 1337
                    }
                  },
                  "queued": {
                    "summary": "Queued",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "queued"
                    }
                  },
                  "error": {
                    "summary": "Error",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "error",
                      "message": "Source and target language are equal."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/document/{document_id}/result": {
      "post": {
        "tags": [
          "TranslateDocuments"
        ],
        "summary": "Download Translated Document",
        "operationId": "downloadDocument",
        "description": "Once the status of the document translation process is `done`, the result can be downloaded.\n\n\nFor privacy reasons the translated document is automatically removed from the server once it was downloaded and cannot be downloaded again.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocumentID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              },
              "examples": {
                "basic": {
                  "summary": "Basic",
                  "value": {
                    "document_key": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document is provided as a download. There is no other data included in the response besides the document data. The content type used in the response corresponds to the document type.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "description": "binary document data"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404DocTransDownload"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503DocTransDownload"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossary-language-pairs": {
      "get": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "List Language Pairs Supported by Glossaries",
        "description": "Retrieve the list of language pairs supported by the glossary feature.",
        "operationId": "listGlossaryLanguages",
        "responses": {
          "200": {
            "description": "A JSON object containing the language pairs in its `supported_languages` property.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "supported_languages": {
                      "type": "array",
                      "description": "The list of supported languages",
                      "items": {
                        "type": "object",
                        "required": [
                          "source_lang",
                          "target_lang"
                        ],
                        "properties": {
                          "source_lang": {
                            "description": "The language in which the source texts in the glossary are specified.",
                            "type": "string"
                          },
                          "target_lang": {
                            "description": "The language in which the target texts in the glossary are specified.",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "supported_languages": [
                    {
                      "source_lang": "de",
                      "target_lang": "en"
                    },
                    {
                      "source_lang": "en",
                      "target_lang": "de"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries": {
      "post": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Create a Glossary",
        "operationId": "createMultilingualGlossary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMultilingualGlossaryParameters"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "name": "My Glossary",
                    "dictionaries": [
                      {
                        "source_lang": "en",
                        "target_lang": "de",
                        "entries": "Hello\tGuten Tag",
                        "entries_format": "tsv"
                      },
                      {
                        "source_lang": "de",
                        "target_lang": "en",
                        "entries": "Guten Tag\tHello",
                        "entries_format": "tsv"
                      }
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateMultilingualGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The function for creating a glossary returns a JSON object containing the ID of the newly created glossary and a boolean flag that indicates if the created glossary can already be used in translate requests.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "get": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "List all Glossaries",
        "operationId": "listMultilingualGlossaries",
        "description": "List all glossaries and their meta-information, but not the glossary entries.",
        "responses": {
          "200": {
            "description": "JSON object containing a the glossaries.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "glossaries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MultilingualGlossary"
                      }
                    }
                  }
                },
                "example": {
                  "glossaries": [
                    {
                      "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                      "name": "My Glossary",
                      "dictionaries": [
                        {
                          "source_lang": "EN",
                          "target_lang": "DE",
                          "entry_count": 1
                        },
                        {
                          "source_lang": "DE",
                          "target_lang": "EN",
                          "entry_count": 2
                        }
                      ],
                      "creation_time": "2021-08-03T14:16:18.329Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries/{glossary_id}": {
      "get": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Retrieve Glossary Details",
        "description": "Retrieve meta information for a single glossary, omitting the glossary entries.",
        "operationId": "getMultilingualGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing the glossary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossary"
                },
                "example": {
                  "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                  "name": "My Glossary",
                  "dictionaries": [
                    {
                      "source_lang": "EN",
                      "target_lang": "DE",
                      "creation_time": "2021-08-03T14:16:18.329Z",
                      "entry_count": 1
                    },
                    {
                      "source_lang": "DE",
                      "target_lang": "EN",
                      "creation_time": "2021-08-03T14:16:18.429Z",
                      "entry_count": 2
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "patch": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Edit glossary details",
        "description": "Edit glossary details, such as name or a dictionary for a source and target language.",
        "operationId": "patchMultilingualGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMultilingualGlossaryParameters"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "name": "My Glossary",
                    "dictionaries": [
                      {
                        "source_lang": "en",
                        "target_lang": "de",
                        "entries": "Hello\tGuten Tag",
                        "entries_format": "tsv"
                      }
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchMultilingualGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON object containing the glossary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossary"
                },
                "example": {
                  "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                  "name": "My Glossary",
                  "dictionaries": [
                    {
                      "source_lang": "EN",
                      "target_lang": "DE",
                      "creation_time": "2021-08-03T14:16:18.329Z",
                      "entry_count": 1
                    },
                    {
                      "source_lang": "DE",
                      "target_lang": "EN",
                      "creation_time": "2021-08-03T14:16:18.429Z",
                      "entry_count": 2
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Delete a Glossary",
        "description": "Deletes the specified glossary.",
        "operationId": "deleteMultilingualGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns no content upon success.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries/{glossary_id}/entries": {
      "get": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Retrieve Glossary Entries",
        "operationId": "getMultilingualGlossaryEntries",
        "description": "List the entries of a single glossary in tsv format.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          },
          {
            "name": "source_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossarySourceLanguage"
            }
          },
          {
            "name": "target_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossaryTargetLanguage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The entries in tsv, wrapped in a JSON object.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlossaryDictionary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries/{glossary_id}/dictionaries": {
      "delete": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Deletes the dictionary associated with the given language pair with the given glossary ID.",
        "operationId": "deleteDictionary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          },
          {
            "name": "source_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossarySourceLanguage"
            }
          },
          {
            "name": "target_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossaryTargetLanguage"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns no content upon success.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "put": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Replaces or creates a dictionary in the glossary with the specified entries.",
        "operationId": "replaceDictionary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "requestBody": {
          "description": "The dictionary to insert into (or overwrite in) the multilingual glossary.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultilingualGlossaryEntries"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PutMultilingualGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON object containing the dictionary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossaryEntriesInformation"
                },
                "example": {
                  "source_lang": "EN",
                  "target_lang": "DE",
                  "entry_count": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossaries": {
      "post": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "Create a Glossary",
        "operationId": "createGlossary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGlossaryParameters"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "name": "My Glossary",
                    "source_lang": "en",
                    "target_lang": "de",
                    "entries": "Hello\tGuten Tag",
                    "entries_format": "tsv"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The function for creating a glossary returns a JSON object containing the ID of the newly created glossary and a boolean flag that indicates if the created glossary can already be used in translate requests.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonolingualGlossary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "get": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "List all Glossaries",
        "operationId": "listGlossaries",
        "description": "List all glossaries and their meta-information, but not the glossary entries.",
        "responses": {
          "200": {
            "description": "JSON object containing a the glossaries.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "glossaries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MonolingualGlossary"
                      }
                    }
                  }
                },
                "example": {
                  "glossaries": [
                    {
                      "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                      "name": "My Glossary",
                      "ready": true,
                      "source_lang": "EN",
                      "target_lang": "DE",
                      "creation_time": "2021-08-03T14:16:18.329Z",
                      "entry_count": 1
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossaries/{glossary_id}": {
      "get": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "Retrieve Glossary Details",
        "description": "Retrieve meta information for a single glossary, omitting the glossary entries.",
        "operationId": "getGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing the glossary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonolingualGlossary"
                },
                "example": {
                  "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                  "name": "My Glossary",
                  "ready": true,
                  "source_lang": "EN",
                  "target_lang": "DE",
                  "creation_time": "2021-08-03T14:16:18.329Z",
                  "entry_count": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "Delete a Glossary",
        "description": "Deletes the specified glossary.",
        "operationId": "deleteGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns no content upon success.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossaries/{glossary_id}/entries": {
      "get": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "Retrieve Glossary Entries",
        "operationId": "getGlossaryEntries",
        "description": "List the entries of a single glossary in the format specified by the `Accept` header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "text/tab-separated-values"
              ],
              "default": "text/tab-separated-values"
            },
            "description": "The requested format of the returned glossary entries. Currently, supports only `text/tab-separated-values`.",
            "examples": {
              "tsv": {
                "summary": "Tab-separated Values",
                "value": {
                  "in": "header",
                  "Accept": "text/tab-separated-values"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The entries in the requested format.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "text/tab-separated-values": {
                "example": "Hello!\tGuten Tag!"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/write/rephrase": {
      "post": {
        "tags": [
          "RephraseText"
        ],
        "summary": "Request text improvement",
        "operationId": "rephraseText",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be improved. Only UTF-8-encoded plain text is supported. Improvements are returned in the same order as they are requested.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "this is a example sentence to imprve"
                    }
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguageWrite"
                  },
                  "writing_style": {
                    "$ref": "#/components/schemas/WritingStyle"
                  },
                  "tone": {
                    "$ref": "#/components/schemas/WritingTone"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be improved. Only UTF-8-encoded plain text is supported. Improvements are returned in the same order as they are requested.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "this is a example sentence to imprve"
                    }
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguageWrite"
                  },
                  "writing_style": {
                    "$ref": "#/components/schemas/WritingStyle"
                  },
                  "tone": {
                    "$ref": "#/components/schemas/WritingTone"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful text improvement.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "improvements": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "detected_source_language": {
                            "description": "The language detected in the source text.",
                            "type": "string",
                            "example": "en"
                          },
                          "text": {
                            "description": "The improved text.",
                            "type": "string",
                            "example": "This is a sample sentence to improve."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/usage": {
      "get": {
        "tags": [
          "MetaInformation"
        ],
        "summary": "Check Usage and Limits",
        "description": "Retrieve usage information within the current billing period together with the corresponding account limits. Usage is returned for:\n- translated characters\n- translated documents\n- translated documents, team totals (for team accounts only)\n\nCharacter usage includes both text and document translations, and is measured by the source text length in Unicode code points,\nso for example \"A\", \"\u0394\", \"\u3042\", and \"\u6df1\" are each counted as a single character.\n\nDocument usage only includes document translations, and is measured in individual documents.\n\nDepending on the user account type, some usage types will be omitted.\nCharacter usage is only included for developer accounts.\nDocument usage is only included for non-developer accounts, and team-combined document usage is only included for non-developer team accounts.",
        "operationId": "getUsage",
        "responses": {
          "200": {
            "description": "The account's usage and limits.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                },
                "examples": {
                  "free": {
                    "summary": "Response for API users not on the Pro plan",
                    "value": {
                      "character_count": 180118,
                      "character_limit": 1250000
                    }
                  },
                  "pro": {
                    "summary": "Response for API Pro users",
                    "value": {
                      "character_count": 5947223,
                      "character_limit": 1000000000000,
                      "products": [
                        {
                          "product_type": "write",
                          "billing_unit": "characters",
                          "api_key_unit_count": 0,
                          "account_unit_count": 5643,
                          "api_key_character_count": 0,
                          "character_count": 5643
                        },
                        {
                          "product_type": "translate",
                          "billing_unit": "characters",
                          "api_key_unit_count": 636,
                          "account_unit_count": 5941580,
                          "api_key_character_count": 636,
                          "character_count": 5941580
                        },
                        {
                          "product_type": "speech_to_text",
                          "billing_unit": "milliseconds",
                          "api_key_unit_count": 1800000,
                          "account_unit_count": 1800000,
                          "api_key_character_count": 0,
                          "character_count": 0
                        }
                      ],
                      "api_key_character_count": 636,
                      "api_key_character_limit": 1000000000000,
                      "speech_to_text_milliseconds_count": 1800000,
                      "speech_to_text_milliseconds_limit": 36000000,
                      "start_time": "2025-05-13T09:18:42Z",
                      "end_time": "2025-06-13T09:18:42Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/languages": {
      "get": {
        "tags": [
          "MetaInformation"
        ],
        "summary": "Retrieve Supported Languages",
        "description": "Retrieve the list of languages that are currently supported for translation, either as source or target language, respectively.",
        "operationId": "getLanguages",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Sets whether source or target languages should be listed. Possible options are:\n * `source` (default): For languages that can be used in the `source_lang` parameter of [translate](https://www.deepl.com/docs-api/translate-text/translate-text) requests.\n * `target`: For languages that can be used in the `target_lang` parameter of [translate](https://www.deepl.com/docs-api/translate-text/translate-text) requests.",
            "schema": {
              "type": "string",
              "enum": [
                "source",
                "target"
              ],
              "default": "source"
            },
            "examples": {
              "target": {
                "summary": "Target Languages",
                "value": {
                  "in": "query",
                  "type": "target"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON array where each item represents a supported language.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "language",
                      "name"
                    ],
                    "properties": {
                      "language": {
                        "description": "The language code of the given language.",
                        "type": "string"
                      },
                      "name": {
                        "description": "Name of the language in English.",
                        "type": "string"
                      },
                      "supports_formality": {
                        "description": "Denotes formality support in case of a target language listing.",
                        "type": "boolean"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "language": "AR",
                    "name": "Arabic",
                    "supports_formality": false
                  },
                  {
                    "language": "BG",
                    "name": "Bulgarian",
                    "supports_formality": false
                  },
                  {
                    "language": "CS",
                    "name": "Czech",
                    "supports_formality": false
                  },
                  {
                    "language": "DA",
                    "name": "Danish",
                    "supports_formality": false
                  },
                  {
                    "language": "DE",
                    "name": "German",
                    "supports_formality": true
                  },
                  {
                    "language": "EL",
                    "name": "Greek",
                    "supports_formality": false
                  },
                  {
                    "language": "EN-GB",
                    "name": "English (British)",
                    "supports_formality": false
                  },
                  {
                    "language": "EN-US",
                    "name": "English (American)",
                    "supports_formality": false
                  },
                  {
                    "language": "ES",
                    "name": "Spanish",
                    "supports_formality": true
                  },
                  {
                    "language": "ES-419",
                    "name": "Spanish (Latin American)",
                    "supports_formality": true
                  },
                  {
                    "language": "ET",
                    "name": "Estonian",
                    "supports_formality": false
                  },
                  {
                    "language": "FI",
                    "name": "Finnish",
                    "supports_formality": false
                  },
                  {
                    "language": "FR",
                    "name": "French",
                    "supports_formality": true
                  },
                  {
                    "language": "HE",
                    "name": "Hebrew",
                    "supports_formality": false
                  },
                  {
                    "language": "HU",
                    "name": "Hungarian",
                    "supports_formality": false
                  },
                  {
                    "language": "ID",
                    "name": "Indonesian",
                    "supports_formality": false
                  },
                  {
                    "language": "IT",
                    "name": "Italian",
                    "supports_formality": true
                  },
                  {
                    "language": "JA",
                    "name": "Japanese",
                    "supports_formality": true
                  },
                  {
                    "language": "KO",
                    "name": "Korean",
                    "supports_formality": false
                  },
                  {
                    "language": "LT",
                    "name": "Lithuanian",
                    "supports_formality": false
                  },
                  {
                    "language": "LV",
                    "name": "Latvian",
                    "supports_formality": false
                  },
                  {
                    "language": "NB",
                    "name": "Norwegian (Bokm\u00e5l)",
                    "supports_formality": false
                  },
                  {
                    "language": "NL",
                    "name": "Dutch",
                    "supports_formality": true
                  },
                  {
                    "language": "PL",
                    "name": "Polish",
                    "supports_formality": true
                  },
                  {
                    "language": "PT-BR",
                    "name": "Portuguese (Brazilian)",
                    "supports_formality": true
                  },
                  {
                    "language": "PT-PT",
                    "name": "Portuguese (European)",
                    "supports_formality": true
                  },
                  {
                    "language": "RO",
                    "name": "Romanian",
                    "supports_formality": false
                  },
                  {
                    "language": "RU",
                    "name": "Russian",
                    "supports_formality": true
                  },
                  {
                    "language": "SK",
                    "name": "Slovak",
                    "supports_formality": false
                  },
                  {
                    "language": "SL",
                    "name": "Slovenian",
                    "supports_formality": false
                  },
                  {
                    "language": "SV",
                    "name": "Swedish",
                    "supports_formality": false
                  },
                  {
                    "language": "TH",
                    "name": "Thai",
                    "supports_formality": false
                  },
                  {
                    "language": "TR",
                    "name": "Turkish",
                    "supports_formality": false
                  },
                  {
                    "language": "UK",
                    "name": "Ukrainian",
                    "supports_formality": false
                  },
                  {
                    "language": "VI",
                    "name": "Vietnamese",
                    "supports_formality": false
                  },
                  {
                    "language": "ZH",
                    "name": "Chinese (simplified)",
                    "supports_formality": false
                  },
                  {
                    "language": "ZH-HANS",
                    "name": "Chinese (simplified)",
                    "supports_formality": false
                  },
                  {
                    "language": "ZH-HANT",
                    "name": "Chinese (traditional)",
                    "supports_formality": false
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys": {
      "post": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Create a developer key as an admin",
        "operationId": "adminCreateDeveloperKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "$ref": "#/components/schemas/ApiKeyLabel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The create function returns a JSON representation of the created API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "get": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Get all developer keys as an admin",
        "operationId": "adminGetDeveloperKeys",
        "responses": {
          "200": {
            "description": "The get function returns a JSON representation of all developer API keys in the organization.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys/deactivate": {
      "put": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Deactivate a developer key as an admin",
        "operationId": "adminDeactivateDeveloperKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_id"
                ],
                "properties": {
                  "key_id": {
                    "$ref": "#/components/schemas/ApiKeyId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The deactivate function returns a JSON representation of the deactivated API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys/label": {
      "put": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Rename a developer key as an admin",
        "operationId": "adminRenameDeveloperKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_id",
                  "label"
                ],
                "properties": {
                  "key_id": {
                    "$ref": "#/components/schemas/ApiKeyId"
                  },
                  "label": {
                    "type": "string",
                    "description": "API key label.",
                    "example": "developer key prod"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The set label function returns a JSON representation of the renamed API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys/limits": {
      "put": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Set developer key usage limits as an admin",
        "operationId": "adminSetDeveloperKeyUsageLimits",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_id"
                ],
                "properties": {
                  "key_id": {
                    "$ref": "#/components/schemas/ApiKeyId"
                  },
                  "characters": {
                    "$ref": "#/components/schemas/ApiKeyUsageCharacters"
                  },
                  "speech_to_text_milliseconds": {
                    "$ref": "#/components/schemas/ApiKeyUsageSpeechToTextMilliseconds"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The set usage limits function returns a JSON representation of the modified API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/analytics": {
      "get": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Get usage statistics as an admin",
        "operationId": "adminGetAnalytics",
        "description": "Retrieve usage statistics for the organization within a specified date range.\nOptionally group the results by API key or by API key and day.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-09-29"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-01"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "description": "Optional parameter to group usage statistics. Possible values:\n * `key` - Group by API key\n * `key_and_day` - Group by API key and usage date",
            "schema": {
              "type": "string",
              "enum": [
                "key",
                "key_and_day"
              ]
            },
            "example": "key_and_day"
          }
        ],
        "responses": {
          "200": {
            "description": "The usage statistics for the specified date range.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsageReport"
                },
                "examples": {
                  "withGrouping": {
                    "summary": "Usage report grouped by key and day",
                    "value": {
                      "usage_report": {
                        "total_usage": {
                          "total_characters": 9619,
                          "text_translation_characters": 4892,
                          "document_translation_characters": 0,
                          "text_improvement_characters": 4727,
                          "speech_to_text_milliseconds": 1800000
                        },
[...]
